{% include 'index.html'%}

{% block content %}
<div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    </div>
    <div class="row">
      {%if success%}
      <div class="alert alert-success" role="alert">
        Task "{{value}}" added.
      </div>
      {%endif%}
      {%if removed%}
      <div class="alert alert-danger" role="alert">
        Task "{{value}}" removed.
      </div>
      {%endif%}
    </div>
    <div class="row">
      <div class="col">
        <form method="post" action="{%url 'index'%}">
          {%csrf_token%}
          <div class="form-group">
            <input placeholder="Enter the task" name="task" id="task" class="form-control" required>
          </div>
          <div class="form-group">
            <button type="submit" name="button" class="btn btn-primary btn-block">Submit</button>
          </div>
        </form>
      </div>
      <div class="col">
          {% for i in task_list %}
            <div class="list-group">
              <div class="list-group-item d-flex justify-content-between align-items-center">
                {{i|title }}
                <a href="{% url 'index'%}get_data/{{i}}"><i class="fas fa-times"></i></a>
              </div>
            </div>
          {%endfor%}
        </ul>
      </div>
    </div>
    </div>
{% endblock %}

